###############################################################################
## dev
###############################################################################
## 文件上传路径
upload:
  ## 图片在后台真实保存的路径
  path: E:/tmp/upload/images/
  ## 图片在前台显示时路径
  ## webpack-dev-server proxy没有成功配置，只能先在后台处理一下。
  remote-url: http://localhost:8080/
## 数据库
spring:
  datasource:
    url: jdbc:mysql://localhost:3306/my_database?useUnicode=true&characterEncoding=UTF-8&serverTimezone=Asia/Shanghai
    username: root
    password: root
    hikari:
      auto-commit: true
      connection-timeout: 30000
      idle-timeout: 60000
      max-lifetime: 600000
      maximum-pool-size: 10
      pool-name: MyHikariCP
  # redis
  redis:
    database: 0
    host: 58.87.121.239
    port: ENC(e3o4ajYBBZj6NyO6BMrijlAaz8m2CEF0B7PpO6l1YBrCMxm9R98l7iDl56xUf9N9)
    password: ENC(8SEYKL9DoSRqtyqpgMGuGRpOjmzEzDiriR+akLHGeJhxHbVRQ/stuN2HXjPjmPBsuAJyWDCa/AOPMio6rr4/ng==)
    lettuce:
      shutdown-timeout: 100ms
      pool:
        max-active: 8
        max-wait: 3ms
        max-idle: 8
        min-idle: 0
  # servlet
  servlet:
    multipart:
      max-file-size: 10MB
  # resources
  resources:
    static-locations: classpath:/META-INF/resources/, classpath:/resources/, classpath:/static/, classpath:/public/, file:${upload.path}
  # mvc
  mvc:
    static-path-pattern: /**
  # hot
  devtools:
    restart:
      enabled: true
      exclude: application.yml

###############################################################################
## jasypt 真实环境下，请在命令行等安全地方使用 password
## windows 系统变量要重启电脑才能生效，有时候就是无法获取到${}引用的变量值，可能是缓存问题引起的，请清空缓存重启(大坑，)
jasypt:
  encryptor:
    password: ${JASYPT_ENCRYPTOR_PASSWORD:}