###############################################################################
## docker
###############################################################################
## 文件上传路径
upload:
  path: /root/upload/images/
  remote-url: http://58.87.121.239:9001/images/
## 数据库
spring:
  datasource:
    url: jdbc:mysql://myspringboot-mysql:3306/my_database?useUnicode=true&characterEncoding=UTF-8&serverTimezone=Asia/Shanghai
    username: ENC(zVEkSEahlh21TZ7WJktU/zH9+Ds7KdH3fohT1q8911bnRK4Wfz0I88S6YstcfSkw)
    password: ENC(PCukdwzjp9v1fKyGRC33ljVnmhGS5FOed5vjMXA/nabH20NLgfQKAQ7LrnGF1nG4mhjXMlC8+nBW8lRGdVuGdQ==)
    hikari:
      auto-commit: true
      connection-timeout: 30000
      idle-timeout: 600000
      max-lifetime: 28740000
      maximum-pool-size: 15
      minimum-idle: 5
      pool-name: DatebookHikariCP
      connection-test-query: SELECT 1
  # redis
  redis:
    database: 1
    host: myspringboot-redis
    # docker环境下，容器直连不需要端口号，直接使用容器名。
    # port:
    password: ENC(wNrHLuvV5veiZrTrz6UGggfK88cZ9mlzlyodsWDnMtPdHaOPZ0BQo1JY7QzNqMsUEg16fGcV8futjsIsL2HAiw==)
    timeout: 3000
    lettuce:
      shutdown-timeout: 100ms
      pool:
        max-active: 8
        max-wait: 3ms
        max-idle: 8
        min-idle: 0
  # servlet
  servlet:
    multipart:
      max-file-size: 10MB
  # resources
  resources:
    static-locations: classpath:/META-INF/resources/, classpath:/resources/, classpath:/static/, classpath:/public/, file:${upload.path}
  # mvc
  mvc:
    static-path-pattern: /**
