<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.mypandora.springboot.modular.system.mapper.MessageReceiverMapper">

    <resultMap id="msgMap" type="cn.mypandora.springboot.modular.system.model.vo.Msg">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="send_id" jdbcType="BIGINT" property="sendId"/>
        <result column="send_name" jdbcType="VARCHAR" property="sendName"/>
        <result column="title" jdbcType="VARCHAR" property="title"/>
        <result column="content" jdbcType="VARCHAR" property="content"/>
        <result column="type" jdbcType="INTEGER" property="type"/>
        <result column="status" jdbcType="VARCHAR" property="status"/>
        <result column="is_read" jdbcType="INTEGER" property="isRead"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <collection property="receiveIdList" ofType="long">
            <result column="receive_id"/>
        </collection>
        <collection property="receiveNameList" ofType="string">
            <result column="receive_name"/>
        </collection>
    </resultMap>

    <select id="listMsg" resultMap="msgMap">
        SELECT t.id,
        su.id as send_id,
        su.username as send_name,
        ru.id as receive_id,
        ru.username as receive_name,
        t.title,
        t.content,
        t.type,
        mr.status,
        mr.is_read,
        t.create_time,
        t.update_time
        FROM sys_message_content t
        JOIN sys_message_receiver mr on t.id = mr.content_id
        JOIN sys_user su on mr.send_id = su.id
        JOIN sys_user ru on mr.receive_id = ru.id
        WHERE 1 = 1
        <if test="sendId!=null">
            AND mr.send_id = #{sendId}
        </if>
        <if test="receiveIdList!=null">
            AND mr.receive_id in
            <foreach collection="receiveIdList" item="id" index="index" open="(" separator="," close=")">
                #{id}
            </foreach>
        </if>
        <if test="type!=null">
            AND t.type = #{type}
        </if>

    </select>

    <select id="getMessageById" resultMap="msgMap">
        SELECT t.id,
               su.id       as send_id,
               su.username as send_name,
               ru.id       as receive_id,
               ru.username as receive_name,
               t.title,
               t.content,
               t.type,
               mr.status,
               mr.is_read,
               t.create_time,
               t.update_time
        FROM sys_message_content t
                 JOIN sys_message_receiver mr on t.id = mr.content_id
                 JOIN sys_user su on mr.send_id = su.id
                 JOIN sys_user ru on mr.receive_id = ru.id
        WHERE 1 = 1
          AND t.id = #{id}
          AND mr.send_id = #{userId}
    </select>

</mapper>