<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.mypandora.springboot.modular.system.mapper.RoleResourceMapper">

    <delete id="deleteBatchResourceAllRole">
        DELETE t
        FROM sys_role_resource t
        WHERE t.resource_id in
        <foreach collection="resourceIdList" item="resourceId" index="index" open="(" separator="," close=")">
            #{resourceId}
        </foreach>
    </delete>

</mapper>