<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.mypandora.springboot.modular.system.mapper.UserRoleMapper">

    <insert id="grantUserRole">
        INSERT INTO sys_user_role( user_id, role_id, create_time )
        VALUES
        <foreach collection="roleIdList" item="roleId" index="index" separator=",">
            (
            #{userId},
            #{roleId},
            now()
            )
        </foreach>
    </insert>

    <delete id="deleteUserSomeRole">
        DELETE t
        FROM sys_user_role t
        WHERE t.user_id = #{userId}
        AND t.role_id in
        <foreach collection="roleIdList" item="roleId" index="index" open="(" separator="," close=")">
            #{roleId}
        </foreach>
    </delete>

    <delete id="deleteUserAllRole">
        DELETE t
        FROM sys_user_role t
        WHERE t.user_id = #{userId}
    </delete>

    <delete id="deleteBatchUserAllRole">
        DELETE t
        FROM sys_user_role t
        WHERE t.user_id in
        <foreach collection="userIdList" item="userId" index="index" open="(" separator="," close=")">
            #{userId}
        </foreach>
    </delete>

    <delete id="deleteRoleAllUser">
        DELETE t
        FROM sys_user_role t
        WHERE t.role_id = #{roleId}
    </delete>

    <delete id="deleteBatchRoleAllUser">
        DELETE t
        FROM sys_user_role t
        WHERE t.role_id in
        <foreach collection="roleIdList" item="roleId" index="index" open="(" separator="," close=")">
            #{roleId}
        </foreach>
    </delete>

</mapper>