<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.mypandora.springboot.modular.system.mapper.UserMapper">
    <resultMap id="userMap" type="user">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="username" jdbcType="VARCHAR" property="username"/>
        <result column="nickname" jdbcType="VARCHAR" property="nickname"/>
        <result column="real_name" jdbcType="VARCHAR" property="realName"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="salt" jdbcType="VARCHAR" property="salt"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
        <result column="avatar" jdbcType="VARCHAR" property="avatar"/>
        <result column="email" jdbcType="VARCHAR" property="email"/>
        <result column="phone" jdbcType="VARCHAR" property="phone"/>
        <result column="mobile" jdbcType="VARCHAR" property="mobile"/>
        <result column="sex" jdbcType="INTEGER" property="sex"/>
        <result column="last_login_time" jdbcType="TIMESTAMP" property="lastLoginTime"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="department_id" jdbcType="BIGINT" property="departmentId"/>
    </resultMap>

    <sql id="baseColumns">
        ${alias}.id,
        ${alias}.username,
        ${alias}.nickname,
        ${alias}.real_name,
        ${alias}.password,
        ${alias}.salt,
        ${alias}.status,
        ${alias}.avatar,
        ${alias}.email,
        ${alias}.phone,
        ${alias}.mobile,
        ${alias}.sex,
        ${alias}.last_login_time,
        ${alias}.create_time,
        ${alias}.update_time
    </sql>

    <select id="pageUser" resultMap="userMap">
        SELECT
        <include refid="baseColumns">
            <property name="alias" value="u"/>
        </include>
        FROM sys_department_user du
        JOIN sys_user u on du.user_id = u.id
        WHERE 1 = 1
        AND du.department_id = #{departmentId}
        <if test="username!=null">
            AND u.username = #{username}
        </if>
        <if test="phone!=null">
            AND u.phone = #{phone}
        </if>
        <if test="mobile!=null">
            AND u.phone = #{phone}
        </if>
        <if test="sex!=null">
            AND u.sex = #{sex}
        </if>
        <if test="status!=null">
            AND u.status = #{status}
        </if>
    </select>

    <select id="getUser" resultMap="userMap">
        SELECT
        <include refid="baseColumns">
            <property name="alias" value="u"/>
        </include>
        , du.department_id
        FROM sys_user u
        JOIN sys_department_user du on u.id = du.user_id
        WHERE 1 = 1
        AND u.id = #{id}
        OR u.username = #{username}
    </select>

</mapper>