<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.mypandora.springboot.modular.system.mapper.UserMapper">
    <resultMap id="BaseResultMap" type="cn.mypandora.springboot.modular.system.model.User">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="username" jdbcType="VARCHAR" property="username"/>
        <result column="nickname" jdbcType="VARCHAR" property="nickname"/>
        <result column="real_name" jdbcType="VARCHAR" property="realName"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="salt" jdbcType="VARCHAR" property="salt"/>
        <result column="state" jdbcType="INTEGER" property="state"/>
        <result column="avatar" jdbcType="VARCHAR" property="avatar"/>
        <result column="email" jdbcType="VARCHAR" property="email"/>
        <result column="phone" jdbcType="VARCHAR" property="phone"/>
        <result column="mobile" jdbcType="VARCHAR" property="mobile"/>
        <result column="sex" jdbcType="TINYINT" property="sex"/>
        <result column="last_login_time" jdbcType="TIMESTAMP" property="lastLoginTime"/>
        <result column="createTime" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="modifyTime" jdbcType="TIMESTAMP" property="modifyTime"/>
    </resultMap>

    <sql id="BASE_COLUMN">
        id,username,nickname,real_name,password,salt,state,avatar,email,phone,mobile,sex,last_login_time,create_time,modify_time
    </sql>

    <select id="selectRoleByUserId" resultMap="BaseResultMap">
        select
        <include refid="BASE_COLUMN"/>
        from sys_user
    </select>

    <select id="selectUserByRoleId" resultMap="BaseResultMap">
        select
        <include refid="BASE_COLUMN"/>
        from sys_user
    </select>

</mapper>